@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body{
    margin: 0;
    font-family: 'Poppins' sans-serif;
}
.wrap{
    width: 1170px;
    margin: 0 auto;
    font-family: 'Poppins';
}
.wrap_sl{
    width: 1030px;
    position: relative;
}
.circle1{
    position: absolute;
    border: 8px solid #d4cdfd;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 280px;
    left: -120px;
}
.circle2{
    position: absolute;
    border: 8px solid #fc776d;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 240px;
    left: 730px;
}
.circle3{
    position: absolute;
    border: 8px solid #fc776d;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    bottom: 60px;
    right: -110px;
}
.circle4{
    position: absolute;
    border: 8px solid #fc776d;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    bottom: 80px;
    left: 70px;
}
.square{
    position: absolute;
    border: 6px solid #d4cdfd;
    height: 20px;
    width: 20px;
    top: 340px;
    left: 240px;
}
.button{
    font-weight: bold;
    background: #2500f9;
    color: #ffffff;
    padding: 16px 40px;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
}
.title{
    font-weight: 600px;
    font-size: 36px;
    color: #242f51;
    margin: 0;
}
.text{
    font-size: 16px;
    color: #616368;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 1.85;
    margin: 0;
}
.subtitle{
    font-size: 20px;
    color: #242f51;
    font-weight: 600;
    margin: 0 0 20px 0;
}
.subtitle1{
    color: #f55767;
}
.subtitle2{
    color: #2563ff;
}
.subtitle3{
    color: #40975f;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cards__icon-wrap{
    background: #e2eaed;
    border-radius: 100%;
    height: 88px;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.cards__icon{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
.cards__icon-wrap1{
    background: #ffecef;
}
.cards__icon-wrap2{
    background: #f4f4ff;
}
.cards__icon-wrap3{
    background: #e4ffee;
}

/*=========== header ============*/
.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 150px;
    padding-top: 90px;
    box-sizing: border-box;/*запрещает масштабироваться элементу за счет отступов*/
}
.header__wrap{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: 700; /*bold*/
    text-decoration: none;
    color: #242f51;
}
.logo_color{
    color: #fcae61;
}
.menu__list{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu__item{
    margin-left: 32px;
}
.menu__link{
    color: #242f51;
    text-decoration: none;
    font-size: 16px;
}
.menu__button{
    color: #ffffff;
}

/*=========== welcome ============*/
.welcome{
    background: url(img/City.png) bottom center / 100% #fdfdfe;
    background-repeat: no-repeat;
    height: 100vh;
}
.welcome__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 150px;
    box-sizing: border-box;
}

.welcome__img{
    width: 400px;
}
.welcome__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.welcome__awards{
    background: #e2eaed;
    display: flex;
    padding-right: 50px;
    align-items: center;
    border-radius: 30px;
    color: #242f51;
    font-size: 18px;
    margin: 0;
}
.welcome__achievement{
    width: 40px;
    background: #feaa25;
    height: 40px;
    border-radius: 30px;
}
.welcome__title{
    color: #242f51;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.25;
    margin: 22,5px 0;
}
.welcome__link{
    text-decoration: none;
    margin-left: 27px;
    color: #2500f9;
}
/*=========== companies ============*/
.companies{
    padding: 110px 0 80px;
}
.companies__title{
    color: #242f51;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.companies__list{
    margin: 30px 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*=========== features ============*/
.features__images{
    position: relative;
    right: 50px;
}
.features__bg{
    position: absolute;
    bottom: 0;
    left: -60px;
    z-index: -1;
}
.features__img{
    width: 580px;
}
.features__wrap{
    display: flex;
}
.features__info{
    width: 430px;
}
.features__title{
    margin: 0;
    margin-bottom: 15px;
}
.features__text{
    margin-bottom: 90px;
}
.features__card{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.features__card-info{
    width: 270px;
    margin-left: 30px;
}

/*=========== description ============*/
.description{
    display: flex;
}
.description__info{
    display: flex;
    align-items: center;
    margin: 150px 100px 120px 50px;
}
.description__title{
    font-size: 40px;
    border-right: 1px solid #242f51;
    padding-right: 70px;
    width: 1040px;
}
.description__text{
    margin-left: 50px;
    padding-right: 30px;
}
.description__cards-wrap{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-bottom: 120px;
}
.description__cards{
    margin-right: 120px;
}
/*=========== design ============*/
.design__wrap{
    display: flex;
    margin-bottom: 210px;
}
.design__img{
    height: 600px;
    margin-left: -60px;
}
.design__info{
    margin: 140px 110px 0 110px;
}
.design__title{
    margin-bottom: 30px;
}
.design__text{
    margin-bottom: 40px;
}